@import 'src/styles/vars';

.skills {
    max-width: 800px;
    margin: 10rem auto;
    margin-top: 10rem;
    margin-bottom: 10rem;

    .skills_return {
        color: $regularColor;
        border: solid 2px $regularColor;
        border-radius: 10px;
        padding: 0.2rem 0.5rem;

        &:hover {
            font-weight: bold;
        }
    }
    
    .skills_title {
        text-align: center;
        color: white;
    }

    h3 {
        text-align: center;
        color: white;
    }

    .hardSkills {
        color: $lightColor;
        border: 4px solid $regularColor;
        border-radius: 10px;
        background: linear-gradient(to top, $lightColor, white);
        margin-bottom: 1rem;
        padding: 0 1rem;

        .hardSkills_title {
            text-align: center;
            color: $regularColor;
            padding: 0.2rem;
        }

        .hardSkills_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .hardSkill {
                margin: 1rem;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
    
                .hardSkill_name {
                    color: $darkColor;
                    list-style-type: none;
                }
    
                .hardSkill_logo {
                    width: 50px;
                    height: 50px;
                    padding-left: 0.5rem;
                }   
            }
        }

        
    }

    .softSkills {
        color: $lightColor;
        border: 4px solid $regularColor;
        border-radius: 10px;
        background: linear-gradient(to top, $lightColor, white);
        margin-bottom: 1rem;
        padding: 0 1rem;
        
        .softSkills_title {
            text-align: center;
            color: $regularColor;
            padding: 0.2rem;
        }

        .softSkills_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .softSkill {
                margin: 1rem;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
    
                .softSkill_name {
                    color: $darkColor;
                    list-style-type: none;
                }
    
                .softSkill_logo {
                    width: 50px;
                    height: 50px;
                    padding-left: 1rem;
                }
            }
        }
    }
    .languages {
        color: $lightColor;
        border: 4px solid $regularColor;
        border-radius: 10px;
        background: linear-gradient(to top, $lightColor, white);
        margin-bottom: 1rem;
        padding: 0 1rem;
        
        .languages_title {
            text-align: center;
            color: $regularColor;
            padding: 0.2rem;
        }

        .languages_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .language {
                margin: 1rem;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
    
                .language_name {
                    color: $darkColor;
                    list-style-type: none;

                    span {
                        font-style: italic;
                        font-size: 0.8rem;
                    }
                }
    
                .language_logo {
                    width: 50px;
                    height: 50px;
                    padding-left: 1rem;
                }
            }
        }
    }
    .potencial {
        border: 4px solid $regularColor;
        border-radius: 10px;
        background: linear-gradient(to top, $lightColor, white);
        margin-bottom: 1rem;
        padding: 0 1rem;
        
        .potencial_title {
            text-align: center;
            color: $regularColor;
            padding: 0.2rem;
        }

        .potencial-text {
            color: black;
        }
        
    }
}