.skills {
    max-width: 800px;
    margin: 10rem auto;
    color: white;
    margin-top: 13rem;
    margin-bottom: 10rem;

    .skills_return {
        color: #8c7ae6;
        border: solid 2px #8c7ae6;
        border-radius: 10px;
        padding: 0.2rem;

        &:hover {
            font-weight: bold;
        }
    }
    
    .skills_title {
        text-align: center;
    }

    .hardSkills {
        color: #a29bfe;
        border: 4px solid #8c7ae6;
        border-radius: 10px;
        background: linear-gradient(to top, #a29bfe, white);
        margin-bottom: 1rem;
        padding: 0 1rem;

        .hardSkills_title {
            text-align: center;
            color: #8c7ae6;
            padding: 0.2rem;
        }

        .hardSkill {
            color: #1F2937;
        }
    }

    .softSkills {
        color: #a29bfe;
        border: 4px solid #8c7ae6;
        border-radius: 10px;
        background: linear-gradient(to top, #a29bfe, white);
        margin-bottom: 1rem;
        padding: 0 1rem;
        
        .softSkills_title {
            text-align: center;
            color: #8c7ae6;
            padding: 0.2rem;
        }

        .softSkill {
            color: #1F2937;
            background-color: white;
            border-radius: 10px;
            padding: 0.2rem;
            margin-bottom: 0.5rem;
        }
    }
}