.skills {
    max-width: 800px;
    margin: 10rem auto;
    color: white;

    .skills_return {
        color: #8c7ae6;

        &:hover {
            font-weight: bold;
        }
    }
    
    .skills_title {
        text-align: center;
    }
}