@import 'src/styles/vars';

.experience {
    color: white;
    max-width: 800px;
    margin: 10rem auto;
    margin-top: 10rem;
    margin-bottom: 10rem;

    .experience_return {
        color: $regularColor;
        border: solid 2px $regularColor;
        border-radius: 10px;
        padding: 0.2rem;

        &:hover {
            font-weight: bold;
        }
    }

    .experience_title {
        text-align: center;
    }

    .experience_section {
        border: solid 4px $regularColor;
        border-radius: 10px;
        padding: 0 1rem;
        margin-bottom: 1rem;
        background: linear-gradient(to top, $lightColor, white);
        color: #1F2937;

        .experience_diploma {
            padding-top: 1rem;
            width: 40px;
            height: 40px;
        }
        .experience_job {
            color: $regularColor;
            font-weight: bold;
            text-align: center;
            font-size: 1.2rem;
        }

        .experience_duration {
            text-align: center;
            font-style: italic;
        }

        .experience_enterprise {
            text-align: center;
            font-weight: bold;
        }

        .experience_details {
            text-align: justify;

            .experience_item {
                list-style-type: none;
                padding: 0.5rem 0;

                .experience_link_orando {

                    &:hover {
                        font-weight: bold;
                    }
                }

            }
           
        }
    }
}