.header {
    width: 100%;
    padding: 0.5rem;
    color: #8c7ae6;
    text-shadow:  #5f27cd 1px 0 10px;
    font-weight: bold;
    position: fixed;
    top: 0;
    background-color:#1F2937;

    &:hover {
        text-shadow:  black 1px 0 10px;
    }

    .header_return_link {
        display: flex;
        flex-direction: column;

        .header_picture {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .header_name {
            font-size: 2rem;
        }
    
        .header_job {
            font-size: 1.5rem;
            font-style: italic;
        }
    }
}


