.projects {
    margin-top: 10rem;
    margin-bottom: 7rem;
    color: white;

    .projects_return {
        color: #8c7ae6;

        &:hover {
            font-weight: bold;
        }
    }

    .projects_title {
        text-align: center;
    }
}