.whoIAm {
    max-width: 800px;
    margin: 10rem auto;
    color: white;

    .whoIAm_return {
        color: #8c7ae6;

        &:hover {
            font-weight: bold;
        }
    }

    .whoIAm_title {
        text-align: center;
    }

    .whoIAm_section {
        border: solid 1px white;
        border-radius: 10px;
        padding: 0 1rem;
        margin-bottom: 1rem;

        .whoIAm_question {
            color: #8c7ae6;
        }

        .whoIAM_answer {

        }
    }
}