@import 'src/styles/vars';

.whoIAm {
    max-width: 800px;
    margin: 10rem auto;
    color: white;
    margin-top: 10rem;
    margin-bottom: 10rem;

    .whoIAm_return {
        color: $regularColor;
        border: solid 2px $regularColor;
        border-radius: 10px;
        padding: 0.2rem 0.5rem;

        &:hover {
            font-weight: bold;
        }
    }

    .whoIAm_title {
        text-align: center;
    }

    .whoIAm_section {
        border: solid 4px $regularColor;
        border-radius: 10px;
        padding: 0 1rem;
        margin-bottom: 1rem;
        background: linear-gradient(to top, $lightColor, white);
        color: $darkColor;

        .whoIAm_question {
            color: $regularColor;
            font-weight: bold;
        }

        .whoIAm_answer {
            text-align: justify;
        }
    }
}