@import 'src/styles/vars';

.resume {
    color: white;
    max-width: 800px;
    margin: 10rem auto;

    .resume_return {
        color: $regularColor;
        border: solid 2px $regularColor;
        border-radius: 10px;
        padding: 0.2rem 0.5rem;

        &:hover {
            font-weight: bold;
        }
    }

    .resume_title {
        text-align: center;
    }
}