@import 'src/styles/vars';

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $darkColor;
    color: $lightColor;
    text-align: center;
    padding-top: 0.5rem;

    .footer_email {
       display: flex;
       flex-wrap: nowrap;
       align-items: center;
       justify-content: center;

      .footer_email_picture {
        width: 40px;
        height: 40px;
      }

      .footer_email_text {
        margin-left: 0.5rem;
      }
    }
    
    .footer_linkedin_link {
      margin-right: 1rem;

      .footer_linkedin_logo {
        margin-top: 0.5rem;
        width: 40px;
        height: 40px;
      } 
    }

    .footer_github_link {
      
      .footer_github_logo {
        margin-top: 0.5rem;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 5px;
      } 
    }
}


