.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #1F2937;
    color: #a29bfe;
    text-align: center;
    
    .footer_contact {
      font-weight: bold;
    }

    .footer_email {
       
    }
    
    .footer_linkedin_link {
      
      .footer_linkedin_logo {
        margin-top: 0.5rem;
        width: 40px;
        height: 40px;
      } 
    }
}


